<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper标签:配置各类映射 namespace：名称空间，由于映射文件有多个，为了防止crud语句的唯一标识被重复，可以设置空间名称。 -->
<mapper namespace="cn.ali.mapper.UserMapper">
    <select id="queryUserById" resultType="User">
		select * from tb_user
		where id = #{id}
	</select>

    <insert id="addUser" parameterType="User">
		INSERT INTO tb_user (
			user_name,
			password,
			name,
			age,
			sex,
			birthday,
			created,
			updated
		)
		VALUES
		(

			#{userName},
			#{password},
			#{name},
			#{age},
			#{sex},
			#{birthday},
			now(),
			now()
		);

	</insert>

</mapper>